header{
  width:75%;
  margin:auto;
  font-family: "Arial", Arial, serif;
} 

h1{
  text-align: center;
  font-family: "Arial", Arial, serif;
}
h1:hover{
  color: navy;
}

nav{
  text-align: right;
}

/* Link styles */
a:link{
  color:blue;
}
a:visited{
  color:orange;
}
a:hover{
  color:royalblue;
}

/* Article styles */
article{
  width:50%;
  margin:auto;
  background-color: lightgray;
  text-align: justify;
  font-family: "Arial", Arial, serif;
  line-height: 1.5;
} 
h2:hover{
  color:violet;
}

/* Making the numbers in the ordered list bold, and keeping the inner text normal */
ol li{
  font-weight: bold;
}
li img{
  font-weight: normal;
}
li aside{
  font-weight: normal;
}
li p{
  font-weight: normal;
}

ol.a{
  list-style-position: outside;
}

/* Changing all image sizes to the same */
img.one{
  height:50%;
  width:50%;
}
img.two{
  height:50%;
  width:50%;
}
footer{
  width:75%;
  margin:auto;
  font-family: "Arial", Arial, serif;
}
