header{
  width:75%;
  margin:auto;
  font-family: "Arial", Arial, serif;
} 

h1{
  text-align: center;
  font-family: "Arial", Arial, serif;
}
h1:hover{
  color: navy;
}

nav.one{
  text-align: right;
}

h2{
  text-align: center;
  font-family: "Arial", Arial, serif;
}

nav.two{
  text-align: center;
}

section{
  width:50%;
  margin:auto;
  background-color: lightgray;
  text-align: justify;
  font-family: "Arial", Arial, serif;
  line-height: 1.5;
} 

/* Link styles */
a:link{
  color:blue;
}
a:visited{
  color:orange;
}
a:hover{
  color:royalblue;
}
  
h2:hover{
  color:violet;
}

footer{
  width:75%;
  margin:auto;
  font-family: "Arial", Arial, serif;
}
